body{
  background: #183446;
  color: black;
  font-size: 45px;
  font-family: Courier;
  background-image: url(https://images.unsplash.com/photo-1557163123-abbafe113238?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80);
  background-size: cover;

}

#banner {
  background-image: url(https://images.unsplash.com/photo-1522132423911-84d0c95b5291?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1491&q=80);
  height: 20vh;
  background-size: cover;
  padding:15px;
}

h1{
  font-family: Courier;
  color: #183446;
  font-weight: lighter;
  font-size: 40px;
  text-align: center
  padding:50px;


}
h2 {
  font-family: Courier;
  color: black;
  font-weight: lighter;
  font-size: 25px;
}

h3 {
  font-family: Courier; 
  color: black; 
  font-weight: lighter; 
  font-size:20px;
}

#footer{
  padding: 25px;
  color: grey;
}
p{
  font-size: 10px;
}

a {
  color: grey;
}
a:hover {
  text-decoration: none;
  color: orange;
}